<h1>Our games</h1>
<br/>
<% if is_admin? %>
  <%= link_to 'New Game', new_game_path %>
<%end%>
 
<table>
  <tr>
    <th id="title">Title</th>
    <% if is_admin? %>
      <th colspan="2"></th>
    <%else%>
      <th></th>
    <% end %>
  </tr>
 
  <% @games.each do |game| %>
    <tr>
      <td class="game_td">
      <% if game.is_rented? %>
      <%= link_to game.title, game_path(game), class: "game_rented" %></td>
      <%else%>
      <%= link_to game.title, game_path(game), class: "game_available" %></td>
      <%end%>
      <% if is_admin? %>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game_path(game),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      <%else %>
        <td>
          <%if game.is_rented? %>
            <% if current_user.game_rented?(game.id) %>
              <td class=".game_available"><%= link_to "Return", unrent_path(game.id)%> </td>
            <% else %>
              <td class=".game_rented">Rented</td>
            <%end%>
          <%else%>
            <td class=".game_available"><%= link_to 'Rent Now!', rent_path(game.id) %></td>
          <%end%>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>