<p>

</p>

<p>
  <% if @game.is_rented? %>
  <h1 class="game_rented">
  <%else%>
  <h1 class="game_available">
  <%end%>
    <%= @game.title %>
  </h1>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<br/>
<h2>Comments</h2>
<%= render @game.comments %>
 
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Back', games_path %>
<%= link_to 'Edit', edit_game_path(@game) %>